[Desktop Entry]
Name=Arduino IDE
Exec=AppRun --no-sandbox %U
Terminal=false
Type=Application
Icon=arduino-ide
StartupWMClass=Arduino IDE
X-AppImage-Version=2.3.10
Comment=Arduino IDE
Categories=Development;
